<p-dialog
  [(visible)]="visible"
  [header]="header"
  [modal]="modal"
  [closable]="closable"
  [draggable]="draggable"
  [resizable]="resizable"
  [style]="{ width: width }"
  [styleClass]="'agendify-dialog ' + customClass"
  (onHide)="onHide.emit()"
>
  <ng-template pTemplate="header" *ngIf="headerTemplate">
    <ng-content select="[dialogHeader]"></ng-content>
  </ng-template>

  <ng-content></ng-content>

  <ng-template pTemplate="footer" *ngIf="footerTemplate">
    <ng-content select="[dialogFooter]"></ng-content>
  </ng-template>
</p-dialog>
